.movie_img{
    width: 350px;;
    height: 400px;;
}

.website_movie{
    display:grid;
    grid-template-columns: repeat(2, 50%);
    
    
}

.body_bg{
    background-color: rgba(24, 21, 88, 0.838);
}

.nav_bg{
    background-color: rgb(80, 79, 87);
}

.website_movie_el{
    border-radius: 3%; 
    padding: 5px;
    margin:20px;
    background-color: rgb(235, 88, 55); 
}